.user {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 160px;

  &__name {
    font-weight: 500;
    font-size: 18px;
    text-align: right;
    max-width: 120px;
    
    @media screen and (max-width: 768px){
      font-size: 12px;
      max-width: 60px;
    }
  }

  &__profile-picture {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    object-fit: cover;

    @media screen and (max-width: 768px) {
      width: 32px;
      height: 32px;
      
    }
  }
}
