.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    &__logo {
        width: 150px;
        height: 40px;
        stroke-width: 2px;
        stroke: red;
    }

    &__nav {
        ul {
            display: flex;
            list-style: none;

            gap: 20px;
            margin: 0;

        }

        a {
            font-weight: 500;
            font-size: 18px;
            text-decoration: none;
            color: inherit;

            &.active {
                text-decoration: underline;
            }
        }
    }

}
